.notice {
    position: absolute;
    top: calc(50% - 25px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    user-select: none;  
}
#container {
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 3px #2195e4;
    user-select: none;
}
#media {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
#footer {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.buttons > :first-child {
    margin-right: 10px;
}